.tag {
  @include colauto(8px 16px 8px 16px);
  height: auto;
  border-radius: 6px;
  font: $desktopSmall;

  &_light {
    background-color: $blanc;
    color: $black;
  }

  &_dark {
    background-color: lighten($black, 20%);
    color: $white;
  }
}