@import "../../scss/colors";

.button {
  @extend .glassmorphism;
  display: inline-block;
  padding: 0.75rem 2.5rem;
  background: $coralBisque;
  border-radius: 0.4rem;
  color: $white;
  text-decoration: none;
  font: $fontSmall;
  transition: all 0.3s ease;
  box-shadow: $cardShadow;

  &:hover {
    background: rgba(248, 200, 179, 0.1);
    transform: translateY(-0.125rem); // -2px
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  }
  
  @include respond(mobile) {
    background: rgba($black, 0.1);
  }
}
