.skill-card {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(1, auto);
  font: $fontSmall;
  border-top: 1px solid $codGray;
  padding: 4px 0 8px 0;
  width: 100%;
  color: $gray;

  @include respond(mobile) {
    grid-template-rows: repeat(2, auto);
    padding: 4px 0 0 0;
  }
  
  &__name {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;

    @include respond(mobile) {
      grid-column-end: 17;
      padding: 0 0 8px 0;
      color: $white;
      font: $fontMain;
    }
  }
  
  &__description {
    grid-row-start: 1;
    grid-column-start: 8;
    grid-column-end: 14;

    @include respond(mobile) {
      grid-column-start: 1;
      grid-column-end: 17;
      grid-row-start: 2;

      padding: 0 0 32px 0;
      color: darken($gray, 10%);
      font: $fontSmall;
    }
  }

  &__digit {
    grid-row-start: 1;
    grid-column-start: 15;
    grid-column-end: 21;
    @include col100(0, column, flex-start, flex-end);
    font: $fontH2;
    color: $codGray;

    @include respond(mobile) {
      grid-column-start: 18;
      font: $fontMain;
    }
  }

  &__metric-value {
    color: $successGreen;
    font-weight: 600;
  }

  &--case {
    .skill-card__description {
      grid-column-end: 18;
    }

    .skill-card__digit {
      display: none;
    }
  }
}
