@import "../../scss/grid";
@import "../../scss/typo";

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  font: $desktopSmall;
  background: rgba($black, calc(var(--bg-opacity, 0) * 0.1));
  backdrop-filter: blur(calc(var(--bg-opacity, 0) * 10px));
  -webkit-backdrop-filter: blur(calc(var(--bg-opacity, 0) * 10px));
  border-bottom: 1px solid rgba(255, 255, 255, calc(var(--bg-opacity, 0) * 0.08));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, calc(var(--bg-opacity, 0) * 0.37));
  transition: all 0.3s ease;
  
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 1fr;
  align-items: center;

  @include respond(mobile) {
    border-bottom: 1px solid $codGray;
  }
  
  &__logo {
    grid-column-start: 3;
    grid-column-end: 6;
    @include col100(0, row, flex-start, center);
    height: 100%;
    
    @include respond(mobile) {
      grid-column-start: 2;
      grid-column-end: 12;
    }

    a {
      color: $white;
    }
    
    &-link {
      color: inherit;
      line-height: 1;
    }
  }
  
  &__menu {
    grid-column-start: 7;
    grid-column-end: 19;
    @include col100(0, row, flex-end);
    gap: 24px;

    a {
      color: $white;
    }
    
    @include respond(tablet) {
      grid-column-start: 7;
      grid-column-end: 19;
    }
    
    @include respond(mobile) {
      grid-column-start: 12;
      grid-column-end: 20;
      gap: 16px;
    }
    
    &-elem {
      @include colauto(0, row, flex-start, center);
      height: 100%;
    }
  }
  
  &_light {
    background-color: $soapStone;
    border-bottom: 1px solid darken($soapStone, 20%);
    
    a {
      color: $black;
    }
  }

}
