.article {
  @include colauto(120px 0 48px 0, column);
  width: 1024px;
  margin: 0 auto;
  font: $fontMain;
  color: $gray;

  @include respond(mobile) {
    @include col100(24px 0 48px 0, column);
  }

  section {
    margin: 0 0 24px 0;

    @include respond(mobile) {
      margin: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $blanc;
  }

  a {
    color: $blue;
  }

  ul {
    padding: 0;
    margin: 0 0 48px 0;
    list-style: none;

    @include respond(mobile) {
      margin: 0 0 32px 16px;
    }
    
    li {
      margin: 0 0 8px 0;
      color: $gray;

      &::marker {
        color: $blue;
      }
    }

    &-secondary {
      @include col100(0 0 8px 24px);
      font: $fontSmall;
      border-left: 4px solid $coldBlue;
    }
  }

  &__annotation {
    margin: 0 0 32px 0;

    @include respond(mobile) {
      margin: 0 0 24px 0;
    }
  }

  &__tags {
    @include col100(4px 0 40px 0);
    flex-wrap: wrap;
    gap: 8px;

    @include respond(mobile) {
      @include col100(4px 0 0 0);
    }
  }

  &__list {
    @include colauto(16px 16px 24px 16px, column);
    width: 640px;
    margin: 0 0 24px 0;
    font: $fontSmall;
    background-color: darken($soapStone, 3%);

    @include respond(mobile) {
      @include col100(16px 16px 20px 16px, column);
      margin: 0 0 8px 0;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
      margin: 0 0 8px 0;
    }

    & a {
      margin: 0 0 6px 0;
    }
  }

  &__2-cols {
    @include col100(4px 0 32px 0, row);
    margin-left: -24px;

    @include respond(mobile) {
      margin-left: 0;
      @include col100(4px 0 0 0, column);
    }
  }

  &__col {
    @include col50(4px 0 32px 0, column, flex-start, flex-start);
    align-self: stretch;
    margin-right: 2%;
    font: $fontSmall;
    color: $gray;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 70%, transparent 100%) 1;

    &:last-child {
      @include col50(4px 0 0 0, column, flex-start, flex-start);
    }

    @include respond(mobile) {
      @include col100(4px 0 32px 0, column, flex-start, flex-start);
      margin-bottom: 0;
      
      &:last-child {
        @include col100(4px 0 0 0, column, flex-start, flex-start);
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  &__skill-cards {
    margin-bottom: 48px;
  }

  &__image {
    @include col100(0 0 24px 0, column);

    @include respond(mobile) {
      width: 100%;
    }

    &-auto {
      width: 320px !important;
    }

    &--half {
      @include col100(0, column, center);
      
      a {
        width: 80%;
        max-width: 600px;
      }

      @include respond(mobile) {
        a {
          width: 100%;
        }
      }
    }

    img {
      width: 100%;
      box-shadow: $cardShadow;

      @include respond(mobile) {
        margin: 0;
        width: 100%;
      }
    }

    iframe {
      width: 100%;
      height: 300px;

      @include respond(mobile) {
        width: 100%;
        height: 200px;
      }
    }

    &-caption {
      font: $fontSmall;
      color: $darkGray;
      margin: 8px 0 0 0;

      @include respond(mobile) {
        margin: 6px 0 0 2px;
      }
    }
  }
}