$blanc: hsla(28, 5%, 90%, 1.00);
$white: hsla(0, 0%, 80%, 1.00);

$black: hsla(0, 0%, 0%, 1.00);
$darkGray: hsla(0, 0%, 5%, 1.00);
$codGray: hsla(0, 0%, 20%, 1.00);
$gray: hsla(0, 0%, 50%, 1.00);

$coldBlue: hsl(220, 100%, 70%);
$blue: hsl(220, 70%, 40%);
$milanoRed: hsla(10, 100%, 40%, 1.00);
$soapStone: hsla(28, 5%, 85%, 1.00);
$successGreen: hsl(120, 60%, 50%);

$coralBisque: rgba(248, 200, 179, 0.1);

$darkBgShadow: 1px 4px 12px hsla(0, 0, 0%, 0.2);
$cardShadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.1);

// Отступы между секциями
$sectionSpacing: 4rem; // 64px
