@import "colors";

// Desktop Fonts
$desktopH1: 3.2rem/3.5rem "Roslindale", 'PT Serif', Georgia, serif;
$desktopH2: 2.5rem/3rem "Roslindale", 'PT Serif', Georgia, serif;
$desktopH3: 1.25rem/2rem "Roslindale", 'PT Serif', Arial, sans-serif;
$desktopH4: 1.125rem/1.875rem "Roslindale", 'PT Serif', Arial, sans-serif;
$desktopMain: 1.1875rem/1.6rem "PT Root UI", 'PT Sans', Arial, sans-serif;
$desktopSmall: 1rem/1.35rem "PT Root UI", 'PT Sans', Arial, sans-serif;
$desktopExtraSmall: 0.8rem/1rem "PT Root UI", 'PT Sans', Arial, sans-serif;


h1 {
  font: $desktopH1;
  margin: 0 0 1.5rem 0;

  @include respond(mobile) {
    margin: 0 0 1rem 0;
  }
}

h2 {
  font: $desktopH2;
  margin: 0 0 1rem 0;

  @include respond(mobile) {
    margin: 2rem 0 1rem 0;
  }
}

h3 {
  font: $desktopMain;
  line-height: 1.4;
  margin: 0 0 0.5rem 0;

  @include respond(mobile) {
    margin: 0 0 0.25rem 0;
  }
}

h4 {
  font: $desktopH4;
  margin: 0 0 0.5rem 0;

}

a {
  color: $coldBlue;
  text-decoration: none;
}

p {
  margin: 0 0 1.5rem 0;

  @include respond(mobile) {
    margin: 0 0 1rem 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 0.5rem 0;
    list-style-type: square;
  }
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/gotham-black.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham-bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/gotham-medium.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roslindale';
  src: url('../fonts/roslindale.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root.woff2') format('woff2'),
       url('../fonts/pt-root.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
