@import "colors";

// Desktop Fonts
$fontH1: 3.2rem/3.5rem 'Roslindale', 'PT Serif', Georgia, serif;
$fontH2: 2.5rem/3rem 'Roslindale', 'PT Serif', Georgia, serif;
$fontH3: 1.25rem/2rem 'Roslindale', 'PT Serif', Arial, sans-serif;
$fontH3Bold: 1.25rem/2rem 'Roslindale', 'PT Serif', Arial, sans-serif;
$fontH3BoldWeight: bold;
$fontH4: 1rem/1.4rem 'RoslindPT Root UIale', 'PT Sans', Arial, sans-serif;
$fontMain: 1.1875rem/1.6rem 'PT Root UI', 'PT Sans', Arial, sans-serif;
$fontSmall: 1rem/1.35rem 'PT Root UI', 'PT Sans', Arial, sans-serif;
$fontExtraSmall: 0.8rem/1rem 'PT Root UI', 'PT Sans', Arial, sans-serif;


h1 {
  font: $fontH1;
  margin: 0 0 1.5rem 0;

  @include respond(mobile) {
    margin: 0 0 1rem 0;
  }
}

h2 {
  font: $fontH2;
  margin: 0 0 1rem 0;

  @include respond(mobile) {
    margin: 2rem 0 1rem 0;
  }
}

h3 {
  font: $fontMain;
  line-height: 1.4;
  margin: 0 0 0.5rem 0;

  @include respond(mobile) {
    margin: 0 0 0.25rem 0;
  }
}

h4 {
  font: $fontH4;
  margin: 0 0 0.5rem 0;

}

a {
  color: $coldBlue;
  text-decoration: none;
}

p {
  margin: 0 0 1.5rem 0;

  @include respond(mobile) {
    margin: 0 0 1rem 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 0.5rem 0;
    list-style-type: square;
  }
}

@font-face {
  font-family: 'Roslindale';
  src: url('../fonts/roslindale.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roslindale';
  src: url('../fonts/roslindate-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root.woff2') format('woff2'),
       url('../fonts/pt-root.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
